@import "modern-normalize.css";

@font-face {
  font-family: 'blackswordregular';
  src: url('fonts/blacksword-webfont.woff2') format('woff2'),
    url('fonts/blacksword-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* normalize end */
.main {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-turn-indicator {
  text-align: right;
  padding: 30px;
}

.player-turn-indicator p.active {
  font-weight: bold;
  font-size: 1.2rem;
}

.player-turn-indicator p.inactive {
  opacity: 0.5;
}
.game-grid {
  flex: auto;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-auto-rows: 100px;
  justify-content: center;
  align-content: center;
}

.game-grid.disabled {
  opacity: 0.2;
}

.game-grid .cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: blackswordregular;
}

.game-grid .cell:nth-child(3n+2) {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.game-grid .cell:nth-child(-n + 6) {
  border-bottom: 1px solid black;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-over-display {
  display: inline;
  padding: clamp(20px, 30px + 1vw, 50px);
  text-align: center;
  background-color: rgba(139, 181, 218, 0.261);
  border-radius: 30px;
}

.game-over-display h2 {
  font-size: 3rem;
  font-weight: bold;
}

.game-over-display-msg {
  font-size: 2rem;
}

.overlay.hidden {
  display: none;
}

.reset-button {
  margin-top: 30px;
  padding: 10px 20px;
}